<a href="https://colab.research.google.com/github/sharadgupta27/BasicPython/blob/main/distribute_lab0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 0: Basic Python, Functions, Lists, Strings, and Files

## EXERCISE 1: A Simple Calculator

Here is a fun little calculator which exercises what you have learnt so far.

It has only 4 operations - Addition, Subtraction, Multiplication and Divison

Notice the use of no-operation `pass`. It allows us to incrementally code by doing nothing to start, and put in functionality over time.

In [4]:
print("Select operation\n")
print("1.Addition")
print("2.Subtraction")
print("3.Multiplication")
print("4.Division")

# Something NEW: Take input from the user 
choice = input("\nEnter choice(1/2/3/4): ")

# We convert the input to a floating-pount(or real) number.

num1 = float(input("\nEnter first number: "))
num2 = float(input("\nEnter second number: "))

if choice == '1':
    # your code here
    num = num1 + num2
elif choice == '2':
    num = num1 - num2
elif choice == '3':
    num = num1 * num2
elif choice == '4':
    num = num1 / num2
else:
    print('Enter Correct Choice')

print(num)

Select operation

1.Addition
2.Subtraction
3.Multiplication
4.Division

Enter choice(1/2/3/4): 1

Enter first number: 12

Enter second number: 13
25.0

## EXERCISE 2: List like objects and functions on them

Materialize lists using 

1. `range(50)`
2. The function application `enumerate(list of alphabets)`
3. Write your own enumerate function for a list using the function `zip`.

In [5]:
# your code here
list(range(50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [ ]:
# your code here

In [9]:
# your code here
list1 = []
a = ord('a')
z = ord('z')
for i in range(a,z+1):
    list1.append(chr(i))
print(list1)
list2 = [i for i in range(0,26)]

for i,j in zip(list1,list2):
  print(i,j)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
a 0
b 1
c 2
d 3
e 4
f 5
g 6
h 7
i 8
j 9
k 10
l 11
m 12
n 13
o 14
p 15
q 16
r 17
s 18
t 19
u 20
v 21
w 22
x 23
y 24
z 25

In [6]:
import string
for something in enumerate(string.ascii_lowercase):
  print(something)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')
(5, 'f')
(6, 'g')
(7, 'h')
(8, 'i')
(9, 'j')
(10, 'k')
(11, 'l')
(12, 'm')
(13, 'n')
(14, 'o')
(15, 'p')
(16, 'q')
(17, 'r')
(18, 's')
(19, 't')
(20, 'u')
(21, 'v')
(22, 'w')
(23, 'x')
(24, 'y')
(25, 'z')

In [7]:
for index,char in enumerate(string.ascii_lowercase):
  print(index,"->",char)

0 -> a
1 -> b
2 -> c
3 -> d
4 -> e
5 -> f
6 -> g
7 -> h
8 -> i
9 -> j
10 -> k
11 -> l
12 -> m
13 -> n
14 -> o
15 -> p
16 -> q
17 -> r
18 -> s
19 -> t
20 -> u
21 -> v
22 -> w
23 -> x
24 -> y
25 -> z

In [8]:
list(enumerate(string.ascii_lowercase))

[(0, 'a'),
 (1, 'b'),
 (2, 'c'),
 (3, 'd'),
 (4, 'e'),
 (5, 'f'),
 (6, 'g'),
 (7, 'h'),
 (8, 'i'),
 (9, 'j'),
 (10, 'k'),
 (11, 'l'),
 (12, 'm'),
 (13, 'n'),
 (14, 'o'),
 (15, 'p'),
 (16, 'q'),
 (17, 'r'),
 (18, 's'),
 (19, 't'),
 (20, 'u'),
 (21, 'v'),
 (22, 'w'),
 (23, 'x'),
 (24, 'y'),
 (25, 'z')]

## EXERCISE 3: Count the special characters

Consider the string "HelloWorld,123,ThisIsUniv.Ai" (not including the quotes). Find the number of uppercase, lowercase, special character and numerical characters.

In [ ]:
my_string = "HelloWorld,123,ThisIsUniv.Ai"
# your code here

In [ ]:
counter(string.ascii_uppercase, my_string),counter(string.ascii_lowercase, my_string),counter(string.digits, my_string),counter(string.punctuation, my_string)

## EXERCISE 4: Read a file and parse words from it

Read Julius Caesar. Get each line. Remove newline characters from each line. Split the line to get the words from the line. Lowercase them. Print the first 1000 words, lowercased.

In [10]:
# your code here
!wget https://raw.githubusercontent.com/sharadgupta27/BasicPython/main/data/Julius%20Caesar.txt

--2020-12-19 05:47:32--  https://raw.githubusercontent.com/sharadgupta27/BasicPython/main/data/Julius%20Caesar.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 120873 (118K) [text/plain]
Saving to: ‘Julius Caesar.txt’

Julius Caesar.txt   100%[===================>] 118.04K  --.-KB/s    in 0.04s

2020-12-19 05:47:32 (2.95 MB/s) - ‘Julius Caesar.txt’ saved [120873/120873]

In [ ]:
file1 = open("Julius Caesar.txt")
fl = file1.readlines();
counter = 0
for line in fl:
    line.strip()


file1.close()
print(counter)